<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448258805378-2tp491aiso2vup4ijdmq4mddnesn2dum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448258805378-2tp491aiso2vup4ijdmq4mddnesn2dum</string>
	<key>API_KEY</key>
	<string>AIzaSyCLvzT5P8s8dFS7dQi3OUJwbxBLN4soPvA</string>
	<key>GCM_SENDER_ID</key>
	<string>448258805378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canavci95.taskapp.stg</string>
	<key>PROJECT_ID</key>
	<string>tasktail-4bba9</string>
	<key>STORAGE_BUCKET</key>
	<string>tasktail-4bba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448258805378:ios:24d6a2496f1fb98c9b2e9b</string>
</dict>
</plist>